.box {
  width: 56px;
  height: 64px;
  display: inline-block;
  border: 2px solid #ebebeb;
  background: #f7f6f6;
  text-align: center;
  line-height: 64px;
  font-size: 18px;
  color: #000000;
  margin: 30px;
}
.tilt-left {
  transform: skew(30deg, 0deg);
}
.scale {
  transform: scale(0.5, 1);
}
.rotate {
  transform: rotate(45deg);
}
.translate {
  transform: translate(10px, 20px);
  transition: transform 500ms ease-in-out;
}
.all {
  transform: matrix( 0.99459459459459,1.39126606246386,-0.1375006599277,1.08117109748434,10,60);
}